*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
div.container{
    width: 1280px;
    margin: 0 auto;
}

div.top{
    width: 100%;
    height: 44px;
    background-color: #4B4E51;
    display: flex;
    justify-content: space-between;
}
div.top-left{
    padding: 5px 15px;
}
div.top-left>a{
    color: white;
    font-size: 13px;
}
div.top-rigth{
    padding: 15px 15px;
}
div.menu-logo{
    width: 100%;
    height: 75px;
    
    display: flex;
    margin-top: 20px;
}
div.menu-logo-left ul{
    display: flex;
    justify-content: left;
}
div.menu-logo-left ul li a{
    color: rgb(83, 80, 80);
    font-size: 13px;
    display: block;
    padding-right: 20px;
}
div.menu-logo-left ul li a > span{
    color: red;
}
div.menu-logo-rigth{
    padding-left: 330px;
}
div.menu-logo-rigth ul {
    display: flex;
    
    
}
div.menu-logo-rigth ul li>a{
    padding: 0px 20px;
    display: block;
    
}
div.menu-logo-rigth ul li>a>i{
    font-size: 20px;
    color: black;
}
div.list-menu{
    width: 100%;
    height: 55px;
    padding-top: 30px;
}
div.list-menu ul{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
div.list-menu ul li a{
    font-size: 14px;
    color: rgb(83, 80, 80);
    display: block;
    padding-right: 15px;
}
div.imgs{
    animation: doihinh ease-in 10s infinite;
    background-size: 100%;
    background-repeat: none;
    margin: 30px 0px;
}
div.imgs a>img{
    width: 100%;
    height: 593px;
    visibility: hidden;
}
@keyframes doihinh{
    10%{
        background-image: url(http://www.nhaxinh.com/photo/main_banner/mauthietke1810.jpg);
    }
    20%{
        background-image: url(http://www.nhaxinh.com/photo/main_banner/elegance-1.jpg);
    }
    30%{
        background-image: url(http://www.nhaxinh.com/photo/main_banner/khuyenmaithang10.jpg);
    }
}

div.name-product{
    display: grid;
    justify-content: center;
    margin-top: 30px;
}
div.name-product-top{
    width: 450px;
    height: 46px;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    margin-top: 20px;
}
div.name-product-top>span{
    text-align: center;
    display: block;
    font-size: 26px;
    padding: 10px;
}

div.name-product-bot{
    width: 100px;
    height: 30px;
    margin-left: 177px;
    border: 1px solid gray;
    margin-top: 15px;
}
div.name-product-bot span{
    display: block;
    text-align: center;
    padding: 5px 10px;
}
div.product-img{
    width: 100%;
    height: 500px;
    
}
div.product-img-content{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
   
}
div.product-img-content-1{
    width: 33%;
    height: 250px;
    
}
div.img-sp img{
    width: 300px;
    height: 200px;
    margin: 0px 65px;
}
div.name-sp{
    text-align: center;
    color: gray;
}
div.img-qc{
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px ;
}
div.img-qc-left-1{
    width: 55%;
    height: 430px;
    position: relative;
}
div.img-qc-left-1-top{
    width: 100%;
    height: 430px;
}
div.img-qc-left-1-top img{
    width: 100%;
    height: 430px;
}
div.img-qc-left-1-bot{
    position: absolute;
    width: 180px;
    height: 30px;
    background-color: rgb(252, 248, 248);
    bottom: 60px;
    border: 1px solid rgb(194, 189, 189);
    border-left: none;
    text-align: center;
}
div.img-qc-left-1-bot:hover{
    background-color: blue;
    color: white;
}
div.img-qc-left-1-bot span{
    display: block;
    margin: 5px 0px;
    font-size: 14px;
}
div.img-qc-rigth-1{
    width: 45%;
    height: 430px;
    position: relative;
    margin:0px 5px;
}
div.img-qc-rigth-1-top{
    width: 100%;
    height: 430px;
}
div.img-qc-rigth-1-top img{
    width: 100%;
    height: 430px;
}
div.img-qc-rigth-1-bot{
    position: absolute;
    width: 180px;
    height: 30px;
    background-color: rgb(252, 248, 248);
    bottom: 60px;
    border: 1px solid rgb(194, 189, 189);
    border-left: none;
    text-align: center;
}
div.img-qc-rigth-1-bot:hover{
    background-color: blue;
    color: white;
}
div.img-qc-rigth-1-bot span{
    display: block;
    margin: 5px 0px;
    font-size: 14px;
}
div.clearfix-top{
    width: 100%;
    height: 553px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
div.clearfix-left{
    width: 50%;
    height: 553px;
    padding-right: 25px;
}
div.clearfix-left img{
    width: 100%;
    height: 450px;
}
div.clearfix-left-bot{
    width: 250px;
    height: 46px;
    margin-top: 50px;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    justify-content: right;
    margin-left: 365px;
}
div.clearfix-left-bot>span{
    display: block;
    padding: 15px 0px;
    text-align: center;
    font-size: 20px;
}
div.clearfix-rigth{
    width: 50%;
    height: 553px;
    padding-left: 25px;
}
div.clearfix-rigth-top{
    width: 250px;
    height: 46px;
    margin-bottom: 50px;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    justify-content: right;
    margin-right: 365px;
}
div.clearfix-rigth-top>span{
    display: block;
    padding: 15px 0px;
    text-align: center;
    font-size: 20px;
}
div.clearfix-rigth-bot a img{
    width: 100%;
    height: 450px;
}
div.clearfix-bot{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top:60px ;
}
div.clearfix-bot-left{
    width: 55%;
    height: 500px;
}
div.clearfix-bot-left a img{
    width: 100%;
    height: 500px;
}
div.clearfix-bot-rigth{
    width: 45%;
    height: 500px;
}
div.clearfix-bot-rigth form{
    width: 430px;
    height: 450px;
    margin: 0 auto;
}
div.end{
    width: 100%;
    height: 400px;
    background-color: #4B4E51;
    margin-top: 20px;
    display: flex;
    justify-content: left;
}
div.end-1{
    width: 15%;
    height: 400px;
    
    padding-top: 30px;
    margin-right: 20px;
}
div.end-1 span{
    display: block;
    margin-left: 40px;
    color: whitesmoke;
    margin-bottom: 10px;
}
div.end-1 ul li a {
    display: block;
    padding-top: 15px;
    color: whitesmoke;
    font-size: 13px;
}
div.end-2{
    width: 25%;
    height: 400px;
    
    padding-top: 30px;
    display: flex;
    justify-content: left;
    position: relative;
    margin-right: 20px;
    
}
div.end-2 span{
    display: block;
    margin-left: 40px;
    color: whitesmoke;
    margin-bottom: 10px;
}
div.footer-menu {
    display: flex;
    position: absolute;
    padding-top: 20px
}
div.footer-menu ul li a {
    display: block;
    padding-top: 10px;
    color: whitesmoke;
    font-size: 13px;
}
div.end-3{
    width: 25%;
    height: 400px;
    
    padding-top: 30px;
    margin-right: 20px;
}
div.end-3 span{
    display: block;
    margin-left: 40px;
    color: whitesmoke;
    margin-bottom: 10px;
}
div.end-3 ul li a {
    display: block;
    padding-top: 15px;
    color: whitesmoke;
    font-size: 13px;
}
div.end-4{
    width: 30%;
    height: 400px;
    padding-top: 30px;
}
div.end-4-div{
    width: 300px;
    height: 250px;
    background-color: white;
}
div.end-4-div span{
    font-size: 13px;
    padding-top: 15px;
    padding-left: 20px;
    display: block;
}
div.logo-img{
    padding-left: 20px;
    padding-top: 15px;
}
div.logo-img a img{
    padding-right: 5px;
}
div.end-4-div p{
    display: block;
    font-size: 14px;
    margin-left: 19px;
    color: rgb(83, 80, 80);
    margin-bottom: 10px;
}
div.end-4-div form{
    padding-left:20px ;
    padding-top: 25px;
}
div.end-4-div form input{
    width: 192px;
    height: 26px;

}
div.end-4-div form button{
    width: 80px;
    height: 26px;
    background-color: orange;
    color: white;
}